# 数据收集

In [8]:
# 数据导入
import pandas as pd
import os

current_dir = os.path.join(os.path.dirname(os.getcwd()), 'res', 'data')
print(current_dir)
employees = os.path.join(current_dir,'employees.csv')
df = pd.read_csv(employees)
df

c:\Users\13218\Documents\GitHub\self-test-improvement\Python高级\res\data

,employee_id,first_name,last_name,email,phone_number,job_id,salary,commission_pct,manager_id,department_id
0,100,Steven,King,SKING,515.123.4567,AD_PRES,24000.0,NaN,NaN,90.0
1,101,N_ann,Kochhar,NKOCHHAR,515.123.4568,AD_VP,17000.0,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,AD_VP,17000.0,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,IT_PROG,9000.0,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,IT_PROG,6000.0,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...
102,202,Pat,Fay,PFAY,603.123.6666,MK_REP,6000.0,NaN,201.0,20.0
103,203,Susan,Mavris,SMAVRIS,515.123.7777,HR_REP,6500.0,NaN,101.0,40.0
104,204,Hermann,Baer,HBAER,515.123.8888,PR_REP,10000.0,NaN,101.0,70.0
105,205,Shelley,Higgins,SHIGGINS,515.123.8080,AC_MGR,12000.0,NaN,101.0,110.0
106,206,William,Gietz,WGIETZ,515.123.8181,AC_ACCOUNT,8300.0,NaN,205.0,110.0

In [11]:
# 数据导出
df.to_csv(os.path.join((current_dir), 'new.csv'))

In [ ]:
# json
df = pd.read_json(os.path.join(current_dir, 'test.json')) # 仅解析整体
print(type(df))
print(df)

import json
with open(os.path.join(current_dir, 'test.json')) as f:
    data = json.load(f)
print(data)
print(type(data))
df = pd.DataFrame(data['users']) # 分层解析
print(df)

<class 'pandas.core.frame.DataFrame'>
                                               users
0  {'id': 1, 'name': '张三', 'age': 28, 'email': 'z...
1  {'id': 2, 'name': '李四', 'age': 35, 'email': 'l...
2  {'id': 3, 'name': '王五', 'age': 24, 'email': 'w...
{'users': [{'id': 1, 'name': '张三', 'age': 28, 'email': 'zhangsan@example.com', 'is_active': True, 'join_date': '2022-03-15'}, {'id': 2, 'name': '李四', 'age': 35, 'email': 'lisi@example.com', 'is_active': False, 'join_date': '2021-11-02'}, {'id': 3, 'name': '王五', 'age': 24, 'email': 'wangwu@example.com', 'is_active': True, 'join_date': '2023-01-20'}]}
<class 'dict'>
   id name  age                 email  is_active   join_date
0   1   张三   28  zhangsan@example.com       True  2022-03-15
1   2   李四   35      lisi@example.com      False  2021-11-02
2   3   王五   24    wangwu@example.com       True  2023-01-20

In [38]:
# 缺失值处理
import pandas as pd
import numpy as np
s = pd.Series([1, 2, np.nan, None, pd.NA]) # nan: not a number
print(s)
# 勘察是否是缺失值
print(s.isna())
print(s.isnull())
df = pd.DataFrame([[1, pd.NA, 2], [2, 3, 5], [None, 4, 6]])
print(df)
print(df.isna())
print(df.isnull())
print('第0列:1,第1列1,第2列0','\n',df.isna().sum())
print(s.isna().sum()) # 查看缺失值个数
print('-'* 20)
# 剔除缺失值
print(s)
print(s.dropna())
print()
print(df)
print()
print(df.dropna()) # 剔除一整条记录  
print()
print(df.dropna(how='all')) # 如果所有的值都是缺失值，删除这一行
print()
print(df.dropna(thresh=2)) # 如果至少有n个值不是缺失值，就保留

0       1
1       2
2     NaN
3    None
4    <NA>
dtype: object
0    False
1    False
2     True
3     True
4     True
dtype: bool
0    False
1    False
2     True
3     True
4     True
dtype: bool
     0     1  2
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  6
       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False
       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False
第0列:1,第1列1,第2列0
 0    1
1    1
2    0
dtype: int64
3
--------------------
0       1
1       2
2     NaN
3    None
4    <NA>
dtype: object
0    1
1    2
dtype: object

     0     1  2
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  6

     0  1  2
1  2.0  3  5

     0     1  2
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  6

     0     1  2
0  1.0  <NA>  2
1  2.0     3  5
2  NaN     4  6